body
{
	font-family: sans-serif;
	background: #17151f;
}
h1
{
	color: white
}
h2
{
	color: white
}
h3
{
	color: white
}
h4
{
	color: white
}
a{ 
	text-decoration: none;
	color: white;
}